.board_main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	flex-direction: column;
}
.board_main .board_row:last-child .square_button {
	border-bottom: none;
}
